

.JsonForm-Component-Wrapper{

}

.JsonForm-PlaceHolder {
  border: 1px solid #eee;
  min-height : 25px;
}

.JsonForm-PlaceHolder:hover {
  border: 1px solid #d0d0d0;
}

.m-top {
  margin-top: 10px;
}